<!-- TODO: substitute navbar with one of those: https://getbootstrap.com/docs/5.3/examples/navbars/-->

<!-- TODO: maybe create one nav template with IF statements according to App?-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark px-4" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Turbo app - Expense Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>

<div class="container mx-0">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Turbo app - Expense tracker</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/tracker" class="nav-link {% if request.path == '/tracker/' %}active{% endif %}" aria-current="page">Expense Tracker Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link {% if request.path == '/features' %}active{% endif %}">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link {% if request.path == '/pricing' %}active{% endif %}">Pricing</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link {% if request.path == '/faqs' %}active{% endif %}">FAQs</a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="/users/login" class="nav-link {% if request.path == '/login/' %}active{% endif %}">Login</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link {% if request.path == '/register/' %}active{% endif %}">Sign up</a>
        </li>
      {% endif %}
    </ul>
  </header>
</div>
